<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Day30_BookStore</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.syc.book.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.syc.book.web.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageCodeServlet</display-name>
    <servlet-name>ImageCodeServlet</servlet-name>
    <servlet-class>com.syc.book.web.ImageCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageCodeServlet</servlet-name>
    <url-pattern>/imageCode</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.syc.book.web.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyAccountServlet</display-name>
    <servlet-name>MyAccountServlet</servlet-name>
    <servlet-class>com.syc.book.web.MyAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyAccountServlet</servlet-name>
    <url-pattern>/myAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.syc.book.web.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ActiveUserServlet</display-name>
    <servlet-name>ActiveUserServlet</servlet-name>
    <servlet-class>com.syc.book.web.ActiveUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActiveUserServlet</servlet-name>
    <url-pattern>/activeUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindUserServlet</display-name>
    <servlet-name>FindUserServlet</servlet-name>
    <servlet-class>com.syc.book.web.FindUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindUserServlet</servlet-name>
    <url-pattern>/findUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyUserServlet</display-name>
    <servlet-name>ModifyUserServlet</servlet-name>
    <servlet-class>com.syc.book.web.ModifyUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyUserServlet</servlet-name>
    <url-pattern>/modifyUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookListServlet</display-name>
    <servlet-name>BookListServlet</servlet-name>
    <servlet-class>com.syc.book.web.BookListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookListServlet</servlet-name>
    <url-pattern>/bookListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindBookByIdServlet</display-name>
    <servlet-name>FindBookByIdServlet</servlet-name>
    <servlet-class>com.syc.book.web.FindBookByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindBookByIdServlet</servlet-name>
    <url-pattern>/findBookByID</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateBookServlet</display-name>
    <servlet-name>UpdateBookServlet</servlet-name>
    <servlet-class>com.syc.book.web.UpdateBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBookServlet</servlet-name>
    <url-pattern>/updateBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteBookServlet</display-name>
    <servlet-name>DeleteBookServlet</servlet-name>
    <servlet-class>com.syc.book.web.DeleteBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBookServlet</servlet-name>
    <url-pattern>/deleteBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBookServlet</display-name>
    <servlet-name>AddBookServlet</servlet-name>
    <servlet-class>com.syc.book.web.AddBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBookServlet</servlet-name>
    <url-pattern>/addBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchBooksServlet</display-name>
    <servlet-name>SearchBooksServlet</servlet-name>
    <servlet-class>com.syc.book.web.SearchBooksServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchBooksServlet</servlet-name>
    <url-pattern>/searchBooksServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookCategoryServlet</display-name>
    <servlet-name>BookCategoryServlet</servlet-name>
    <servlet-class>com.syc.book.web.BookCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookCategoryServlet</servlet-name>
    <url-pattern>/bookCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowBookInfoServlet</display-name>
    <servlet-name>ShowBookInfoServlet</servlet-name>
    <servlet-class>com.syc.book.web.ShowBookInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowBookInfoServlet</servlet-name>
    <url-pattern>/showBookInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCartServlet</display-name>
    <servlet-name>AddToCartServlet</servlet-name>
    <servlet-class>com.syc.book.web.AddToCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCartServlet</servlet-name>
    <url-pattern>/addToCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderServlet</display-name>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>com.syc.book.web.OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/orderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PayOnLineServlet</display-name>
    <servlet-name>PayOnLineServlet</servlet-name>
    <servlet-class>com.syc.book.web.PayOnLineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayOnLineServlet</servlet-name>
    <url-pattern>/payOnLineServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CallBackServlet</display-name>
    <servlet-name>CallBackServlet</servlet-name>
    <servlet-class>com.syc.book.web.CallBackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CallBackServlet</servlet-name>
    <url-pattern>/callBackServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindOrderServlet</display-name>
    <servlet-name>FindOrderServlet</servlet-name>
    <servlet-class>com.syc.book.web.FindOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindOrderServlet</servlet-name>
    <url-pattern>/findOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindOrderInfoServlet</display-name>
    <servlet-name>FindOrderInfoServlet</servlet-name>
    <servlet-class>com.syc.book.web.FindOrderInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindOrderInfoServlet</servlet-name>
    <url-pattern>/findOrderInfoServlet</url-pattern>
  </servlet-mapping>
</web-app>