<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<!--注册监听器 -->
	<listener>
		<listener-class>com.syc.listener.OnLineUserListListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.syc.listener.LoginSessionListener</listener-class>
	</listener>

	<!-- 配置过滤器 -->
	<filter>
		<filter-name>loginFilter</filter-name>
		<filter-class>com.syc.filter.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>loginFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- 配置servlet -->
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.syc.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ShowServlet</servlet-name>
		<servlet-class>com.syc.servlet.ShowServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowServlet</servlet-name>
		<url-pattern>/show</url-pattern>
	</servlet-mapping>


</web-app>