.data_list
{
	padding: 10px;
	margin-top: 15px;
}
.data_list .data_list_title
{
	font-weight: bold;
	padding-bottom: 10px;
	padding-top: 5px;
}
.data_list .tie_title
{
	margin-top: 20px;
	text-align: center;
}
.data_list .tie_info
{
	font-size: 15px;
	text-align: center;
}
.data_list .tie_content
{
	font-size: 15px;
	margin-top: 20px;
}