<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace:这里的值,可以随便写!但是要保证它的值唯一.一般开发过程中,都是JavaBean的全路径. -->
<mapper namespace="com.syc.ssm.domain.User">

	<resultMap type="user" id="userMap">
		<!-- id:表示主键 -->
		<id column="id" property="id" />
		<!-- result:普通列 -->
		<result column="username" property="username" />
		<result column="password" property="password" />
	</resultMap>

	<select id="selectByNameAndPass" parameterType="user" resultType="user">
		select * from users
		where username=#{username}
		and password=#{password}
	</select>
	
	<insert id="insertUser" parameterType="user">
		insert into users(username,password)
		values(#{username},#{password})
	</insert>

</mapper>