<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

	<context:component-scan base-package="com.syc.shiro" />

	<!-- 配置基本组件 -->
	<mvc:annotation-driven />

	<mvc:default-servlet-handler />

	<!-- 解决/WEB-INF/路径下的某个资源不能直接访问的问题. -->
	<!-- 默认按照请求转发来处理 -->
	<!-- <mvc:view-controller path="test"/> -->
	<!-- 按照重定向来处理 -->
	<!-- 注意:如果资源在webapp根目录下,资源前面,可以带"/",也可以不带. -->
	<mvc:view-controller path="/" view-name="redirect:/login.jsp" />

	<!-- 视图解析器 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>

</beans>
